#header{
    background-color: azure;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}
h1{
    font-size:50px;
    
}
p{
    font-size:30px;
}
img{
    width:200px;
    height:200px;
    padding:30px;
}